@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: 15 23 42;
  /* Navy */
  --color-accent: 199 154 107;
  /* Gold */
  --color-accent-light: 200 155 72;
  /* Light Gold */
  --header-height: 50px;
  --color-footer:165 115 125;
}

/* ---------- BASE ---------- */

@layer base {
  button {

    cursor: pointer;
  }

  a {
    cursor: pointer;
  }
}

body {
  color: rgb(17 24 39);
  background: white;
}

/* ---------- DESIGN SYSTEM ---------- */

.section-padding {
  padding: 7rem 1.5rem;
}

.container-custom {
  max-width: 80rem;
  margin-inline: auto;
}

.bg-primary {
  background-color: rgb(var(--color-primary));
}

.bg-accent {
  background-color: rgb(var(--color-accent));
}
.text-primary {
  color: rgb(var(--color-primary));
}
.text-footer {
  color: rgb(var(--color-footer));
}
.bg-footer {
  background-color: rgb(var(--color-footer));
}
.text-accent {
  color: rgb(var(--color-accent));
}

.text-accent-light {
  color: rgb(var(--color-accent-light));
}

/* Buttons */

.btn-primary {
  background: rgb(var(--color-accent));
  color: rgb(var(--color-primary));
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  font-weight: 600;
  transition: all 0.25s ease;
}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 40px rgb(var(--color-accent) / 0.3);
}
.font-garamond {
  font-family: var(--font-garamond);
}